.container {
    width: 23vw;
    height: 28vw;
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #641E16;
}

.container img {
    width: 100%;
    height: 90%;
    border-radius: 0px 0px 5px 5px;
}

.container span {
    font-size: 1.7vw;
    padding: 0.5vw;
}