.container {
    width: 100vw;
    display: grid;
    grid-template-columns: 8vw 6vw 8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.container input {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 7vw;
    height: 5vw;
    border-radius: 0.6vw;
    padding: 1vw;
    background-color: white;
    color: #641E16;
    border: solid #641E16 0.2vw;
}

.container input:hover {
    background-color: #641E16;
    color: white;
    border: solid white 0.2vw;
}

.container span {
    color: #641E16;
    font-weight: 600;
    font-size: 2.3vw;
}