.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vh;
    background-color: #17202A;
}