.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 7vw;
}

.form_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    border: solid black 0.2vw;
    border-radius: 0.8vw;
    padding: 5vw 4vw;
    width: 30vw;
}

.form_ input {
    width: 25vw;
    border: solid black 0.2vw;
    border-radius: 0.8vw;
    padding: 0.7vw;
    margin-bottom: 1vw;
}

.form_ span {
    font-size: 1.5vw;
}

.button {
    cursor: pointer;
    width: 10vw;
    background-color: #641E16;
    color: white;
}

.button:hover {
    background-color: white;
    color: #641E16;
    border: solid #641E16 0.2vw;
}