.container {
    display: grid;
    grid-template-columns: repeat(3, 17vw);
    align-items: center;
}

.container button {
    cursor: pointer;
    width: 14vw;
    border-radius: 0.6vw;
    padding: 1vw;
    background-color: white;
    color: #641E16;
    border: solid #641E16 0.2vw;
}

.container button:hover {
    background-color: #641E16;
    color: white;
    border: solid white 0.2vw;
}

.container span {
    color: white;
    font-size: 1.8vw;
}