.container {
    display: grid;
    grid-template-columns: 22vw 8vw 3vw 8vw;
    align-items: center;
    place-items: center;
}

.container input {
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    border-radius: 0.6vw;
    padding: 1vw;
    background-color: white;
    color: #641E16;
    border: solid #641E16 0.2vw;
}

.container input:hover {
    background-color: #641E16;
    color: white;
    border: solid white 0.2vw;
}

.container span {
    color: white;
    font-size: 1.8vw;
}