.container {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../../assets/images/landing.jpg) no-repeat center center ;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 10%;
}

.container h1 {
    font-size: 5.5vw;
}

.button {
    width: 15vw;
    margin-bottom: 7vw;
    font-size: 2vw;
    border: solid white 0.2vw;
    color: white;
    text-decoration: none;
    padding: 7%;
    text-align: center;
    border-radius: 0.6vw;
}

.button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}